* { box-sizing:border-box; padding: 0; }

/**** General ****/

body{
	margin:0;
	background-color: #e9e9e9;
	font-size: 16px;
	font-family: 'MINA', 'Arial';
}

@media screen and (max-width: 64em) {
	body {
		 font-size: 90%;
	  }
}
   
@media screen and (max-width: 50em) {
	body {
		  font-size: 75%;
	  }
}
   
@media screen and (max-width: 30em) {
	  body {
		   font-size: 50%;
	 }
}

a{
	text-decoration: none;
}

/**** Header: logo + account + menu ****/

header{
	position: relative;
	background-color: #e9e9e9;
	color: #999;
	height: 10%;
	display: flex; /* Pour aligner le logo, 'Mon compte' et le burger menu */
}

header a{
	color: #999;
	display: flex;
}

#logo{
	position: absolute;
	height: 25%;
	width: 25%;
	left: 5%;
	top: 10%;
}

#logo a {
	cursor: pointer;
}

#logo a img{
	height: 55%;
	width: 55%;
}

	/**** Menu flex ****/

#pre_menu{
	position: absolute;
	width: 15%;
	right: 10%;
	top: 18%;
	text-justify: right;
	transition: transform .6s ease-in-out;
	--webkit-transition: transform .6s ease-in-out;
}

#pre_menu.isOpen {
	transform: translateX(-70%);
	--webkit-transform: translateX(-70%);
}

#pre_menu ul{
	display: flex;
}

#pre_menu ul li{
	background-color: #e9e9e9;;
}

#pre_menu ul li:first-child {
	right: 20%;
}

#pre_menu a:hover{
	color: #555;
}

	/**** File import ****/

#div_import{
	margin: 5% 5% 5% 43%;
	height: 50%;
	width: 50%;
}

#customized_button{
	background-color: #e9e9e9;
	transition: 0.3s;
}

#customized_button:hover{
	color: #777;
	cursor: pointer;
}

#button_import{
	display: none;
}

#customized_button a{
	color: #444;
}

.fas{
	width: 100%;
}

    /**** Burger menu ****/

.menu_burger{
	position: fixed;
	margin-top: 0%;
	right: 0;
	width: 20%;
	height: 100%;
	background-color: #222;
	transition: transform .6s ease-in-out;
	--webkit-transition: transform .6s ease-in-out;
	transform: translateX(100%);
	--webkit-transform: translateX(100%);
}

.menu_burger.isOpen{
	transform: translateX(0%);
	--webkit-transform: translateX(0%);
}

#menu_burger ul {
	margin: 0 20% 0 20%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	--webkit-transform: translateY(-50%);
}

#menu_burger ul li {
	margin-bottom: 20%;
	background-color: #222;
}

#menu_burger ul li a:hover {
	color: #ccc;
	text-transform: uppercase;
}

#burger_menu_logo{
	margin: -1% 0 0 0;
	margin-top: 18%;
}

.burger_menu_logo.angle{
	image-orientation: 45grad;
	image-orientation: 45deg;
}

#burger_menu_logo a img{
	position: absolute;
	top: 25%;
	right: 7%;
	height: 15%;
	width: 2%;
	z-index: 20;
}

.hide-menu{
	margin: 0;
	display: none;
}

/**** Loading button ****/

/**** SECTION 1 ****/
/**** MapMidi ****/

#MapMidi{
	margin-top: -5%;
	height: 30%;
}

.MapMidi{
	transition: transform .6s ease-in-out;
	--webkit-transition: transform .6s ease-in-out;
	transform: translateX(0%);
	--webkit-transform: translateX(0%);
}

.MapMidi.isOpen{
	transform: translateX(-20%);
	--webkit-transform: translateX(-20%);
}

#learning_map{
	width: 100%;
	height: 100%;
}

/**** Section 2 ****/
/**** Clavier ****/

#ClavierPiano{
	display: flex;
	margin: 0;
	padding: 0;
}

.ClavierPiano{
	transition: transform .6s ease-in-out;
	--webkit-transition: transform .6s ease-in-out;
	transform: translateX(0%);
	--webkit-transform: translateX(0%);
}

.ClavierPiano.isOpen{
	transform: translateX(-20%);
	--webkit-transform: translateX(-20%);
}

#ClavierPiano ul {
	height:16em;
	width:12.5%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	position:relative;
	display: flex;
}

li {
	margin:0 0 0 0;
	padding:0 0 0 0;
	list-style:none;
	position:relative;
	background: rgb(255, 255, 255)
}

ul .white {
	height:12em; width:16%; z-index:1;
	border-left:1px solid #bbb;
	border-bottom:1px solid #bbb;
	border-radius:0 0 5px 5px;
	box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
	background: linear-gradient(top, #eee 0%,#fff 100%);
}

ul .white:active {
	border-top:1px solid #777;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	box-shadow:2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
	/*background: linear-gradient(top, #fff 0%,#e9e9e9 100%);*/
	background-color: #e72121;
}

ul .black {
	position: absolute;
  height:7em; width:10%;
  z-index:2;
  border:1px solid #000;
  border-radius:0 0 3px 3px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(45deg, #222 0%,#555 100%);
}

.black:active {
	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -2px 2px 3px rgba(0,0,0,0.6) inset, 0 1px 2px rgba(0,0,0,0.5);
	/*background:linear-gradient(left, #444 0%,#222 100%);*/
	background-color: #e72121;
}

.cs{
	margin-left: 9.8%;
  }
  .ds{
	margin-left: 24%;
  }
  .fs{
	margin-left: 52%;
  }
  .gs{
	margin-left: 66.5%;
  }
  .as{
	margin-left: 81%;
  }

ul li:first-child { border-radius:0 0 5px 5px; }
ul li:last-child { border-radius:0 0 5px 5px; }

/**** Footer: credits + contacts ****/

footer{
	padding: 1% 0 1% 5%;
	background-color: #222;
	color: #999;
}

footer li{
	background-color: #222;
}

footer a{
	color: #999;
}

footer a:hover{
	color: #777;
}

footer li:last-child {
	margin-top: 2%;
}
